@{
	ViewData["Title"] = "Map - Level Imposter";
}
@model LevelImposter.Models.MapDataViewModel

<div class="row">
	<div class="col-sm-6">
		<h2>@Model.Name</h2>
		<h5><b>Code: </b>@Model.Id</h5>
		<p>@Model.Description</p>
	</div>
	<div class="col-sm-6">
		<iframe src="/Home/Editor?id=@(Model.Id)&hidecontrols" class="map-embed"></iframe>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.ActionLink("Download", "Download", "Map", new { id = Model.Id }, new { @class = "btn btn-primary" })
		<a href="/Home/Editor?id=@(Model.Id)" class="btn btn-info">Edit</a>
		@Html.ActionLink("Return", "Index", "Map", new { }, new { @class = "btn btn-danger" })
	</div>
</div>

