@{
	ViewData["Title"] = "Map - Level Imposter";
}
@model LevelImposter.Models.MapDataViewModel[]

<h2>Recent Uploads</h2>

<div class="row">
	@for (int i = 2; i >= 0; i--)
	{
	<div class="col-sm-4">
		@for (int o = (int)Math.Min(Math.Ceiling(Model.Length / 3.0) * (i + 1), Model.Length) - 1; o >= (int)(Math.Ceiling(Model.Length / 3.0) * i); o--)
		{
			var map = Model[o];
			<div class="card mb-2">
				<div class="card-body">
					<h5 class="card-title">@map.Name</h5>
					<h6 class="card-title"><b>Code: </b>@map.Id</h6>
					<p class="card-text">@map.Description</p>
					@Html.ActionLink("Download", "Download", "Map", new { id = map.Id }, new { @class = "card-link" })
					@Html.ActionLink("More Details", "Details", "Map", new { id = map.Id }, new { @class = "card-link" })
				</div>
			</div>
		}
	</div>
	}
</div>